<div class="header">
    <header class="container">
        <div class="row">
            <div id="nav-btn" class="nav-btn col-2">
                <span id="nav-icon" class="nav-icon"></span>
            </div>
            <div class="logo col-8 col-sm-6 col-md-12 col-lg-3">
                <a href="/"><img src="/images/logo/logo.png" alt="Artística Dalí"></a>
            </div>
            <div id="buscador-icon" class="buscador-icon col-2">
                <i id="icon-buscador" class="fas fa-search"></i>
            </div>
            <div id="buscador" class="buscador col-12 col-sm-4 col-md-3 col-lg-3">
                <form action="/products/search" class="buscar" method="GET">
                    <input type="text" placeholder="Buscar" name="search" spellcheck="false" required>
                    <button type="submit"><i class="fas fa-search "></i></button>
                </form>
            </div>
            <div id="nav" class="nav col-12 col-md-8 col-lg-6">
                <div id="menu" class="menu">
                    <ul>
                        <li id="escolar">ESCOLAR <i class="fas fa-angle-down"></i></li>
                        <li id="artistica">ARTISTICA <i class="fas fa-angle-down"></i></li>
                        <li id="oficina">OFICINA <i class="fas fa-angle-down"></i></li>
                        <li><a href="/contact">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="icons">
                    <ul>
                        <li class="user-icon">
                            <% if (typeof session.usuario != 'undefined') { %>
                                <i class="fas fa-user"><span class="session"></span></i>
                                <span class="user-options">
                                    <a href="/users/account">Mis datos</a>
                                    <a href="/users/logout">Cerrar sesión</a>
                                </span>
                            <% } else { %>
                                <a href="/users/login"><i class="fas fa-user"></i></a>
                            <% } %> 
                        </li>
                        <li class="cart-icon">
                            <a href="/products/cart" class="cart" id="cartCount">
                                <i class="fas fa-shopping-cart"></i>
                                <% if (locals.cart != 0 && locals.cart) { %>
                                 <span class="cantidad-cart"><%= cart %></span>
                                <% } %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="subcategorias" class="subcategorias">
            <div id="escolar-categorias" class="categoria">
                <div class="subcategoria">
                    <a class="tit-cat" href="/products/category/1">ESCOLAR</a>
                    <% for( ul in subcategories.escolar ) { %>
                        <ul>
                            <% subcategories.escolar[ul].forEach(subcat => { %>
                            <li><a href="/products/subcategory/<%- subcat %>"><%= subcat %></a></li>
                            <% }) %>
                        </ul>
                        <% } %>
                </div>
                <span ><i id="atras-escolar" class="fas fa-times atras"></i></span>
            </div>
            <div id="artistica-categorias" class="categoria">
                <div class="subcategoria">
                    <a class="tit-cat" href="/products/category/2">ARTISTICA</a>
                    <% for( ul in subcategories.artistica ) { %>
                        <ul>
                            <% subcategories.artistica[ul].forEach(subcat => { %>
                            <li><a href="/products/subcategory/<%- subcat %>"><%= subcat %></a></li>
                            <% }) %>
                        </ul>
                        <% } %>
    
                </div>
                <span ><i id="atras-artistica" class="fas fa-times atras"></i></span>
            </div>
            <div id="oficina-categorias" class="categoria">
                <div class="subcategoria">
                    <a class="tit-cat" href="/products/category/3">OFICINA</a>
                    <% for( ul in subcategories.oficina ) { %>
                        <ul>
                            <% subcategories.oficina[ul].forEach(subcat => { %>
                            <li><a href="/products/subcategory/<%- subcat %>"><%= subcat %></a></li>
                            <% }) %>
                        </ul>
                        <% } %>
    
                </div>
                <span ><i id="atras-oficina" class="fas fa-times atras"></i></span>
            </div>
        </div>
        <% if (typeof session.admin != 'undefined') { %>
            <a href="/products/create" class="admin-btn">Administrar sitio</a>
        <% } %>
    </header>
</div>