<%- include('partials/head.ejs') %>  
<body>
    <!-- HEADER -->
    <div class="edicion">
        
        <%- include('partials/headerAdmin.ejs')%>
        
        
        <!-- FINALIZA HEADER -->   
        <!-- BARRA DE NAVEGACION-->
        <div class="nav col-12">
            <ul>
                <li>
                    <a href="/products/create">CARGA</a>
                </li>
                <li>
                    <a href="#">STOCK</a>
                </li>
                <li>
                    <a href="#">OFERTAS</a>
                </li>
            </ul>
        </div>
        <!-- FINALIZA BARRA DE NAVEGACION -->  
        <!-- EDICION -->
        
       
            <div class="container cuerpo col-12">                               
                <form action="/products/edit/<%- id %>?_method=PUT" method="POST">
                    <div class="row">
                        <div class="titulo col-12 ">
                            <h3>
                                <%= titulo %>
                            </h3>
                            <h6>
                                <%= name %> 
                            </h6>                 
                        </div>                                                                      
                        <div class="datos col-12 " >   
                           <div class="seccion1 col-12 col-md-6 col-lg-4">
                                <div class="input">
                                    <label for="">Categoría</label>
                                    <input type="text" name="category" id="" value=<%= category %> >
                                </div>  
                                <div class="input">
                                    <label for="">Subcategoría</label>
                                    <input type="text" name="subcategory" id="" value=<%= subcategory %> >
                                </div>        
                                <div class="input">
                                    <label for="">Nombre</label>
                                    <input type="text" name="name" id="" value="<%= name %>" >
                                </div>
                           </div>
                           <div class="seccion2 col-12 col-md-6 col-lg-4">
                            <div class="input">
                                    <label for="">Precio</label>
                                    <input type="text" name="price" id="" value=<%= price %> >
                                </div>
                                <div class="input">
                                    <label for="">Descuento</label>
                                    <input type="text" name="discount" id="" value=<%= discount %> >
                                </div>  
                                <!--<div class="input" >
                                    <label for="">Imagen</label>
                                    <input type="file" id="file" name="image" value="<%= image %> ">
                                </div>  -->
                           </div>
                            <div class="descripcion col-lg-4">
                                <label for="">Descripción</label>
                                <textarea name="description" id="" cols="30" rows="10"><%= description %> </textarea>
                            </div>               
                        </div>
                        <div class="guardar">               
                            <button type="submit">guardar cambios</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        
        
        
    </div>
</div>
</div>
</div>  





<%- include('partials/scripts.ejs') %> 