<%- include('partials/head.ejs') %> 

<body>

    <%- include('partials/header.ejs') %>

    <div class="detalles-productos">
        <div class="container">
            <div class="row detalles-container">
                <div class="imagenes col-12 col-lg-6">
                    <% if (producto.image.length > 1) { %>
                    <div class="chicas">

                        <% producto.image.forEach((img, i) => { %> 
                        <img src="/images/productos/<%- img %> " alt="" id="img-sm<%- i + 1 %>">
                        <% }) %>
                        
                    </div>
                    <% } %>
                    

                    <div class="grande">
                        <img id="img" src="/images/productos/<%- producto.image[0] %> " alt="producto">
                    </div>
                </div>
                <section class="detalles col-12 col-lg-6">
                    <h2><%= producto.name %> </h2>
                    <span class="precio">$<%= producto.price %> </span>
                    <form action="" class="cantidad">
                        <label for="cantidad">Cantidad</label>
                        <span class="numero">
                            <input type="number" value="1" min="1" max="100" class="number-spinner">
                        </span>
                        <div class="botones">
                            <button type="submit" class="carrito">agregar al carrito</button>
                            <% if (typeof session.admin != 'undefined') { %>
                                <a href="/products/edit/<%- producto.id %>" class="editar-producto">editar producto</a>
                            <% } %>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="fondo-gris">
            <div class="container">
                <section class="row descripcion-opinion">
                    <div class="descripcion col-12 col-lg-6">
                        <h3>Descripción del producto</h3>
                        <div class="descripcion-parrafos">
                            <% let descripcion = producto.description.split('\n') %>
                            <% descripcion.forEach(frase => { %>
                                <p><%= frase %> </p>
                            <% }) %>
                        </div>
                    </div>
                    <div class="opiniones col-12 col-lg-6">
                        <h3>Opiniones</h3>
                        <div class="opinion">
                            <img src="/images/detallesProducto/estrellas.svg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar ex rutrum enim feugiat.</p>
                        </div>
                        <div class="opinion">
                            <img src="/images/detallesProducto/estrellas.svg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar ex rutrum enim feugiat.</p>
                           </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="slider-productos">
        <h3>Productos que te pueden interesar</h3>
        <div class="productSlider">
            <div class="owl-carousel owl-theme">
                <% productos.forEach(producto => { %>
         
                    <a href="/products/detail/<%- producto.id %> ">
                        <div class="item">
                            <div class="item-container">
                                <img src="/images/productos/<%- producto.image[0] %> " alt="">
                                <% if (producto.name.length > 30) { %>
                                    <% let nameSlice = producto.name.slice(0,30) %> 
                                     <h4><%= nameSlice %>... </h4>
                                   <% } else { %>
                                   <h4><%= producto.name %> </h4>
                                <% } %>
                                <span class="precio">$<%= producto.price %>
                                  <% if (producto.discount != 0) { %>
                                   <!-- <span>$1800</span> -->
                                  <% } %>
                                </span>
                                <% if (producto.discount != 0) { %>
                                <div class="oferta">
                                    <span><%= producto.discount %> % OFF</span>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <% if (producto.image.length > 1) { %>
    <script>
        const imgGrande = document.getElementById("img");
        const imgChica1 = document.getElementById("img-sm1");
        const imgChica2 = document.getElementById("img-sm2");
        const imgChica3 = document.getElementById("img-sm3");
        const imgChica4 = document.getElementById("img-sm4");

        document.getElementById("img-sm1").onclick = () => {
            imgGrande.src = "/images/productos/<%- producto.image[0] %>";
        }

        document.getElementById("img-sm2").onclick = () => {
            imgGrande.src = "/images/productos/<%- producto.image[1] %>";
        }
    </script>
    <% } %>
    
    

    <!-- <script src="/javascripts/detallesProducto.js"></script> -->
    <script src="/javascripts/header.js"></script>
    
  
    <%- include('partials/scripts.ejs') %> 