<%- include('partials/head.ejs') %>  
<body>
    <!-- HEADER -->
    <div class="cargaProd">
      <%- include('partials/headerAdmin.ejs') %> 
        
        <!-- FINALIZA HEADER -->
        <!-- BARRA DE NAVEGACION-->
        <div class="nav">
            <ul>
                <li>
                    <a href="/products/edit">EDITAR O ELIMINAR</a>
                </li>
                <li>
                    <a href="#">STOCK</a>
                </li>
                <li>
                    <a href="#">OFERTAS</a>
                </li>
            </ul>
        </div>
        <!-- FINALIZA BARRA DE NAVEGACION -->

        <!-- FORMULARIO DE CARGA -->
        
        <div class="carga">
            <div>
                <h3 class="titulo">
                    Carga de productos
                </h3>
            </div>
            <div class="container main">
                    <form action="/products/create" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6" id="formulario1">
                                <div class="datos">
                                    
                                    <div class="row">
                                        <div class="col-12 col-md-12" id="form">
                                            <div>
                                                <div class="errores">
                                                    <% if (typeof errors != 'undefined') { %>
                                                      <ul>
                                                          <% for( let i = 0; i < errors.length; i++ ) { %>
                                                              <li style="color: red; list-style: circle;"><%= errors[i ].msg %> </li>                                                  
                                                          <% } %>
                                                      </ul>
                                                      <% } %> 
                                                  </div>
                                                <div class="row">
                                                    <div class="bloque1">
                                                        <select name="category" >
                                                            <option hidden selected value="0" >Elija una categoria</option>
                                                            <option value="1" <% if(typeof oldAdd != 'undefined' && oldAdd.category == '1'){%> selected <% } %>>Escolar</option>
                                                            <option value="2" <% if(typeof oldAdd != 'undefined' && oldAdd.category == '2'){%> selected <% } %>>Artística</option>
                                                            <option value="3"<% if(typeof oldAdd != 'undefined' && oldAdd.category == '3'){%> selected <% } %>>Oficina</option>
                                                        </select>
                                                        <input type="text" placeholder="Producto" name="name" id="producto" value="<%= (typeof oldAdd != 'undefined' && oldAdd.name)?oldAdd.name:'' %>">
                                                    </div>
                                                    <div class="bloque2">
                                                        <input type="text" placeholder="Subcategoría" name="subcategory" value="<%= (typeof oldAdd != 'undefined' && oldAdd.subcategory)?oldAdd.subcategory:'' %>" >
                                                        <input type="number" placeholder="Descuento" name="discount" id="discount" value="<%= (typeof oldAdd != 'undefined' && oldAdd.discount)?oldAdd.discount:'' %>">
                                                    </div>
                                                </div>
                                            </div >
                                        </div>
                                    </div>
                                    
                                    <div class="descripcion">
                                        <label for="descripcion">Descripción del producto</label>
                                        <textarea name="description" id="descripcion" cols="30" rows="7" placeholder="Escriba aquí" ><%= (typeof oldAdd != 'undefined' && oldAdd.description)?oldAdd.description:'' %></textarea>
                                    </div>
                                    <div class="precio">
                                        <label for="precio">Precio:   $</label>
                                        <input type="number" name="price" id="precio" value="<%= (typeof oldAdd != 'undefined' && oldAdd.price)?oldAdd.price:'' %>">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6" id="formulario2">
                                <!-- <div class="imagenes">
                                    <img src="/images/450x450.png" alt="">
                                    <img src="/images/450x450.png" alt="">
                                    <img src="/images/450x450.png" alt="">
                                    <img src="/images/450x450.png" alt="">
                                </div> -->
                                <div class="cargaimg">
                                    <h3 id="tituloimg">Agregar archivos de imagen</h3>
                                    <p>
                                        <input type="file" name="image" id="examinar" >
                                    </p>
                                    <!-- <div class="cargados">
                                        <a href="">img001</a>
                                        <a href="">img002</a>
                                        <a href="">img003</a>
                                        <a href="">img004</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="final col-12">                          
                                <button type="submit">finalizar</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

        <!-- FINALIZA FORMULARIO DE CARGA -->
    </div>
    
    
    <%- include('partials/scripts.ejs') %> 