<%- include('partials/head.ejs') %> 
<body>
    <div class="background-cargando">
        <img src="/images/loading/loading.gif" alt="loading" id="loading" class="none">
    </div>
  
  <%- include('partials/header.ejs') %>
  
  <div class="cuenta">
    <div class="container">
        <div class="datos">
            <form action="/users/account/edit?_method=PUT" method="POST">
                <div class="edit-container">
                    <h5>Datos personales</h5>
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" spellcheck="false" disabled <% if(user.nombre){ %>value="<%- user.nombre %>"<% } %> >
                    </div>
                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" spellcheck="false" disabled <% if(user.apellido){ %>value="<%- user.apellido %>"<% } %>>
                    </div>
                    <div>
                        <label for="email">Email</label>
                    <input type="email" name="email" id="email" spellcheck="false" disabled <% if(user.email){ %>value="<%- user.email %>"<% } %> >
                    </div>
                    <div>
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" id="telefono" spellcheck="false" <% if(user.telefono){ %>value="<%- user.telefono %>"<% } %>>
                    </div>
                </div>
                
                <div class="edit-container">
                    <h5>Datos de envío</h5>
                    <div>
                        <label for="calle">Calle</label>
                    <input type="text" name="calle" id="calle" spellcheck="false" <% if(user.calle){ %>value="<%- user.calle %>"<% } %>>
                    </div>
                    <div>
                        <label for="numero">Numero</label>
                        <input type="number" name="numero" id="numero" spellcheck="false" <% if(user.numero){ %>value="<%- user.numero %>"<% } %>>
                    </div>
                    <div>
                        <label for="dpto">Dpto. (opcional)</label>
                        <input type="text" name="dpto" id="dpto" spellcheck="false" <% if(user.dpto){ %>value="<%- user.dpto %>"<% } %>>
                    </div>
                    <div>
                        <label for="cpostal">C.Postal</label>
                        <input type="text" name="cpostal" id="cpostal" spellcheck="false" <% if(user.cp){ %>value="<%- user.cp %>"<% } %>>
                        <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Encontrá tu CP</a>
                    </div>
                    <div>
                        <label for="provincia">Provincia</label>
                        <select name="provincia" id="provincia">
                            <option value="0" hidden selected >Seleccione su Provincia</option>
                        </select>
                    </div>
                    <div>
                        <label for="localidad">Locaildad</label>
                        <select name="localidad" id="localidad">
                            <option hidden selected value="0" >Seleccione su localidad</option>
                            <option value="0" >seleccione primero su provincia</option>
                        </select>
                    </div>
                </div>
        
        
                <div class="btn-container">
                    <button type="submit" class="btn">Guardar cambios</button>
                </div>
                
                
            </form>
        </div>
    </div>
  </div>

  
  <%- include('partials/footer.ejs') %>

<script src="/javascripts/editAccount.js"></script>
<script src="/javascripts/header.js"></script>
  
  <%- include('partials/scripts.ejs') %> 