<%- include('partials/head.ejs') %> 
<body>
  
  <%- include('partials/header.ejs') %>
  
  <div class="cuenta">
    <div class="container">
        <div class="datos">
            <form action="/users/account/edit?_method=PUT" method="POST">
                <input type="hidden" value="<%- user.id %>" name="id">
                <div class="edit-container">
                    <h5>Datos personales</h5>
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" spellcheck="false" required value="<%- user.nombre %>">
                    </div>
                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" spellcheck="false" required value="<%- user.apellido %>">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" spellcheck="false" required value="<%- user.email %>">
                    </div>
                    <div>
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" id="telefono" spellcheck="false" required value="<%- user.telefono %>">
                    </div>
                </div>
                
                <div class="edit-container">
                    <h5>Datos de envío</h5>
                    <div>
                        <label for="calle">Calle</label>
                        <input type="text" name="calle" id="calle" spellcheck="false" value="<%- user.calle %>">
                    </div>
                    <div>
                        <label for="numero">Numero</label>
                        <input type="number" name="numero" id="numero" spellcheck="false" value="<%- user.numero %>">
                    </div>
                    <div>
                        <label for="dpto">Dpto. (opcional)</label>
                        <input type="text" name="dpto" id="dpto" spellcheck="false" value="<%- user.dpto %>">
                    </div>
                    <div>
                        <label for="cpostal">C.Postal</label>
                        <input type="text" name="cpostal" id="cpostal" spellcheck="false" value="<%- user.cpostal %>">
                        <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Encontrá tu CP</a>
                    </div>
                    <div>
                        <label for="provincia">Provincia</label>
                        <input type="text" name="provincia" id="provincia" spellcheck="false" value="<%- user.provincia %>">
                    </div>
                    <div>
                        <label for="localidad">Locaildad</label>
                        <input type="text" name="localidad" id="localidad" spellcheck="false" value="<%- user.localidad %>">
                    </div>
                </div>
        
        
                <div class="btn-container">
                    <button type="submit" class="btn">Guardar cambios</button>
                </div>
                
                
            </form>
        </div>
    </div>
  </div>

  
  <%- include('partials/footer.ejs') %>

<script src="/javascripts/header.js"></script>
  
  <%- include('partials/scripts.ejs') %> 