<%- include('partials/head.ejs') %>  
<body>
    <!-- HEADER -->
<div class="cargaProd">
    <%- include('partials/headerAdmin.ejs')%>
    <div class="nav col-12">
        <ul>
            <li>
                <a href="/products/create">CARGA</a>
            </li>
            <li>
                <a href="#">STOCK</a>
            </li>
            <li>
                <a href="#">OFERTAS</a>
            </li>
        </ul>
    </div>
    <div class="carga">
        <div>
            <h3 class="titulo">
                Estas editando el producto:
            </h3>
            <h5>
                <%= product.nombre %> 
            </h5>
        </div>
        <div class="container main">
            <form action="/products/edit/<%- product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6" id="formulario1">
                            <div class="datos">
                                
                                <div class="row">
                                    <div class="col-12 col-md-12" id="form">
                                        <div>
                                            <div class="errores">
                                                <% if (typeof errors != 'undefined') { %>
                                                  <ul>
                                                      <% for( let i = 0; i < errors.length; i++ ) { %>
                                                          <li style="color: red; list-style: circle;"><%= errors[i].msg %> </li>                                                  
                                                      <% } %>
                                                  </ul>
                                                  <% } %> 
                                              </div>
                                            <div class="row">
                                                
                                                <div class="bloque1">
                                                    <label for="category">Categoría</label>
                                                    <select name="category" id="categorySelect">
                                                        <option hidden selected value="0">Elija una categoria</option>
                                                        <% categorias.forEach(categoria => { %>
                                                            <option
                                                                <% if (categoria.id == product.subcategoria.categoria_id) { %>
                                                                 selected
                                                                <% } %>
                                                            value="<%= categoria.id %>"<% if(typeof oldAdd != 'undefined' && oldAdd.categoria){%> selected <% } %>><%= categoria.nombre %> </option>
                                                        <% }) %>
                                                    </select>
                                                    <label for="subcategorySelect">Subcategoría</label>
                                                    <select name="subcategory" id="subcategorySelect">
                                                        <option hidden selected value="0" >Elija una subcategoria</option>
                                                        <% categorias.forEach(categoria => { %>
                                                         <% if (categoria.id == product.subcategoria.categoria_id) { %>
                                                          <% categoria.subcategorias.forEach(subcategoria => { %>
                                                           <option
                                                           <% if (subcategoria.id == product.subcategoria.id) { %>
                                                            selected
                                                           <% } %>
                                                           value="<%- subcategoria.id %>"><%= subcategoria.nombre %></option>
                                                          <% }) %>
                                                         <% } %>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                                <div class="bloque2">
                                                    <label for="name">Producto</label>
                                                    <input type="text" placeholder="Producto" name="name" id="name" value="<%= product.nombre %>">
                                                    <label for="discount">Descuento</label>
                                                    <input type="text" placeholder="Descuento" name="discount" id="discount" value="<%= product.descuento %>">
                                                </div>
                                            </div>
                                        </div >
                                    </div>
                                </div>
                                
                                <div class="descripcion">
                                    <label for="descripcion">Descripción del producto</label>
                                    <textarea name="description" id="descripcion" cols="30" rows="7" placeholder="Escriba aquí"><%- product.descripcion %></textarea>
                                </div>
                                <div class="precio">
                                    <label for="precio">Precio:   $</label>
                                    <input type="text" name="price" id="precio" value="<%= product.precio %>">
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6" id="formulario2">
                            <div class="imgactual">
                                <h3>Imagen actual</h3>
                                <img src="/images/productos/<%- product.imagenes[0].imagen %>" alt="">
                            </div>
                            <div class="cargaimg">
                                <h3 id="tituloimg">Cambiar imagen</h3>
                                <p>
                                    <input type="file" name="image" id="image">
                                </p>
                            </div>
                        </div>
                        <div class="final col-12">                          
                            <button type="submit">Guardar cambios</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>

    <!-- FINALIZA FORMULARIO DE CARGA -->
</div>
    
    
    <script src="/javascripts/editProduct.js"></script>
    
    
    <%- include('partials/scripts.ejs') %> 