<%- include('./partials/head.ejs') %>
<body>
    <div class="cantidad-background none" id="background-cantidad">
        <div class="contenedor-cantidad">
            <span id="cancelar-cantidad" class="cancelar-cantidad"><i class="fas fa-times"></i></span>
            <span class="numero">
                <input type="number" value="1" min="1" max="100" class="number-spinner" id="cantidad-input">
            </span>
            <button type="button" class="aceptar-cantidad" id="aceptar-cantidad">Aceptar</button>
        </div>
    </div>

    <%- include('./partials/loadingBackground.ejs') %> 

    <%- include('./partials/header.ejs') %> 

    <div class="carrito">
        <div class="container">
            <% if (productos == 0) { %>
            <h2>No hay productos en su carrito</h2>

            <h4>Selecciona alguna de nuestras categorías para encontrar los mejores productos:</h4>

            <div class="container categoriascarrito">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <section>
                      <a href="/products/category/1"><img src="/images/categorias/cat_escolar.jpg" alt="escolar"></a>
                    </section>
                  </div>
                  <div class="col-12 col-md-4">
                    <section>
                      <a href="/products/category/2"><img src="/images/categorias/cat_artistica.jpg" alt="artistica"></a>
                    </section>
                  </div>
                  <div class="col-12 col-md-4" >
                    <section> 
                      <a href="/products/category/3"><img src="/images/categorias/cat_oficina.jpg" alt="oficina"></a>
                    </section>
                  </div>
                </div>
            </div>

            <% } else { %>

            <h2>Productos en su Carrito</h2>
            <form action="#">
               <div class="row">

                    <!-- PRODUCTOS -->
                    <section class="col-12 productos" id="contenedor-productos">

                        <% productos.forEach(carrito => { %>
                        <div class="producto">
                            <div class="imagen">
                                <img src="/images/productos/<%- carrito.producto.imagenes[0].imagen %>" alt="">
                            </div>
                            <div class="detalles">
                                <h3><%= carrito.producto.nombre %> </h3>
                                <div class="precio">
                                    <span class="precio-unitario">$<%= carrito.producto.precio %> c/u</span>
                                    <span class="total">Total: &nbsp </span>
                                    <span class="precio-sumado">$<%- carrito.producto.precio * carrito.cantidad %></span>
                                </div>
                                <div class="contenedor-cantidad">
                                    <input type="number" class="cantidad none">
                                </div>
                                <div class="botones">
                                    <button class="cantidad" type="button" onclick=<%- `cantidadBtn(${carrito.producto.id})` %>>Cantidad: <span id="cantidad" onload=<%- `cantidad(${carrito.cantidad})` %>  ><%= carrito.cantidad %></span> <i class="fas fa-angle-down"></i></button>
                                    <span class="eliminar" onclick=<%- `deleteProduct(${carrito.producto.id})` %>><i class="fas fa-trash"></i></span>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                    </section>

                    <!-- ENVIO -->
                    <section class="envio col-12 col-lg-8">
                        <h4>Formas de envío</h4>
                        <!-- RADIO BUTTONS -->
                        <div class="radio-buttons">
                            <div>
                                <label for="sucursal-radio">Retiro en sucursal </label>
                                <input type="radio" name="envio" value="sucursal" class="radio" id="sucursal-radio" onclick="radio(0)">
                            </div>
                            <div>
                                <label for="domicilio-radio">Envío a domicilio </label>
                                <input type="radio" name="envio" value="domicilio" class="radio" id="domicilio-radio" onclick="radio(1)">
                            </div>
                        </div>
                        <!-- SUCURSAL -->
                        <div class="sucursal none" id="sucursal-inputs">
                            <div>
                                <label for="sucursal">Sucursal</label>
                                <select name="sucursal" id="sucursal" class="input">
                                    <option value="none"> </option>
                                    <option value="sucursal1">Sucursal 1</option>
                                    <option value="sucursal2">Sucursal 2</option>
                                    <option value="sucursal3">Sucursal 3</option>
                                </select>
                            </div>
                        </div>
                        <!-- DOMICILIO -->
                        <div class="domicilio none" id="domicilio-inputs">
                            <div>
                                <label for="calle">Calle</label>
                                <input type="text" name="calle" id="calle" class="input" value="<%- usuario.calle %>">
                            </div>
                            <div>
                                <label for="numero">Número</label>
                                <input type="number" name="numero" id="numero" class="input" value="<%- usuario.numero %>">
                            </div>
                            <div>
                                <label for="dpto">Dpto.</label>
                                <input type="text" name="dpto" id="dpto" class="input" value="<%- usuario.dpto %>">
                            </div>
                            <div>
                                <label for="cpostal">C. Postal</label>
                                <input type="text" name="cpostal" id="cpostal" class="input" value="<%- usuario.cp %>">
                            </div>
                            <div>
                                <label for="provincia">Provincia</label>
                                <select name="provincia" id="provincia" class="input">
                                    <option value="none"> </option>
                                    <option value="provincia">provincia</option>
                                    <option value="provincia">provincia</option>
                                    <option value="provincia">provincia</option>
                                </select>
                            </div>
                            <div>
                                <label for="localidad">Localidad</label>
                                <select name="localidad" id="localidad" class="input">
                                    <option value="none"> </option>
                                    <option value="localidad">localidad</option>
                                    <option value="localidad">localidad</option>
                                    <option value="localidad">localidad</option>
                                </select>
                            </div>
                        </div>
                    </section>

                    <!-- PAGO -->
                    <section class="pagar col-11 col-lg-4">
                        <div class="subtotal">
                            <h5>Subtotal</h5>
                            <% let precioFinal = 0 %> 
                            <% productos.forEach(carrito => { %>
                                <% precioFinal += carrito.producto.precio * carrito.cantidad %> 
                            <% }) %>
                            <span id="precioSubtotal">$<%= precioFinal %></span>
                        </div>
                        <div class="costo-envio">
                            <h5>Costo de envío</h5>
                            <span>$340</span>
                        </div>
                        <div class="total">
                            <h5>TOTAL</h5>
                            <span id="precioTotal">$<%= precioFinal + 340 %></span>
                        </div>
                        <button type="submit">PAGAR</button>
                    </section>
               </div>
            </form>
            <% } %>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>
  
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/productCart.js"></script>
    
<%- include('partials/scripts.ejs') %>