<%- include('partials/head.ejs') %>
<body>

    <%- include('partials/loadingBackground.ejs') %> 

    <div class="recover">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Artística Dalí">
            </a>
        </div>

        <% if (typeof msg != 'undefined') { %>
            <div class="msg">
                <h4><%= msg %></h4>
            </div>
        <% } %>

        <% if (title == 'Recupera tu contraseña') { %>
            <div class="email-recover">
                <form action="/users/recover" method="POST" id="email-recover">
                    <div>
                        <label for="emailInicio">Email</label>
                        <input type="text" name="email" id="emailInicio" placeholder="dalí@ejemplo.com" spellcheck="false" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>">
                        <p class="errors"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %></p>
                    </div>
                    <button type="submit" class="btn">Enviar email</button>
                </form>
            </div>
        <% } %>
        
    </div>

    
    <script src="/javascripts/recoverPass.js"></script>

<%- include('partials/scripts.ejs') %> 